.inputWrapper {
    position: relative;
}

.input {
    border: 1px rgba(0, 0, 0, 0.314) solid;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}

.placeholder {
    position: absolute;
    top: 50%; /* Положение сверху */
    left: 10px;
    transform: translateY(-50%);    
    user-select: none;
    pointer-events: none;
    font-size: 14px;
}

.unvisible {
    opacity: 0;
}