.header {
    margin-top: 30px;
    width: 100%;
}

.headerBackground {
    background: linear-gradient(70deg, var(--blue-color), #baffb8);
    border-radius: 10px;
    padding-block: 20px;
}

.form {
    width: 80%;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.211);
}

.title {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}